<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dwtech.system.mapper.SysDeptMapper">
    <resultMap type="SysDept" id="SysDeptResult">
        <id property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="deptName" column="dept_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="parentName" column="parent_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectDeptVo">
        select d.dept_id,
               d.parent_id,
               d.ancestors,
               d.dept_name,
               d.order_num,
               d.leader,
               d.phone,
               d.email,
               d.status,
               d.del_flag,
               d.create_by,
               d.create_time,
               (select dept_name from sys_dept where dept_id = d.parent_id) as parent_name
        from sys_dept d
    </sql>

    <select id="selectDeptList" parameterType="SysDept" resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="sysDept.deptId != null and sysDept.deptId != 0">
            AND dept_id = #{sysDept.deptId}
        </if>
        <if test="sysDept.parentId != null and sysDept.parentId != 0">
            AND parent_id = #{sysDept.parentId}
        </if>
        <if test="sysDept.deptName != null and sysDept.deptName != ''">
            AND dept_name like concat('%', #{sysDept.deptName}, '%')
        </if>
        <if test="sysDept.status != null and sysDept.status != ''">
            AND status = #{sysDept.status}
        </if>
        <!-- 数据范围过滤 -->
        order by d.parent_id, d.order_num
    </select>
</mapper>