<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dwtech.system.mapper.BookMapper">
    <insert id="insertIfAbsent">
        INSERT INTO lib_book (isbn, cover, name, intro, author, press_id, publish_time, category_id, price)
        VALUES (#{book.isbn}, #{book.cover}, #{book.name}, #{book.intro}, #{book.author},
                #{book.pressId}, #{book.publishTime}, #{book.categoryId}, #{book.price})
        ON DUPLICATE KEY UPDATE isbn = isbn
    </insert>
    <select id="selectBookFormByIsbn" resultType="org.dwtech.system.model.form.BookForm">
        SELECT b.isbn,
               b.cover,
               b.name,
               b.intro,
               b.author,
               b.press_id,
               b.publish_time,
               b.category_id,
               b.price,
               s.shelf_id,
               sh.shelf_no
        FROM lib_book AS b
                 LEFT JOIN lib_stock AS s ON s.isbn = b.isbn
                 LEFT JOIN lib_bookshelf AS sh ON sh.id = s.shelf_id
        WHERE b.isbn = #{isbn}
    </select>
</mapper>
